// --- VARIABLES ---
@black: #000;
@white: #fff;
@gray-light: #eee;
@gray-mid: #403e3b;
@gray-soft: #f0f0f0;
@gray-dark: #0a090c;

@green-light: #ebfdc6;
@green-mid: #efffc9;
@green-hover: #edffc9;

@cyan: #4fd9d1;
@cyan-hover: #4ed8d0;
@cyan-soft: #61f1e99c;

@purple: #917af0;
@purple-dark: #8f7aee;

@red: #f33c38;
@red-strong: #e53f3f;
@red-cherry: #ea5b63;
@red-tomato: #f53d3a;

@pink: #a64a96;
@cream: #e5e1dd;
@aqua: #cbf7f2;

@font-main: "Inconsolata", sans-serif;

@space-lg: 100px;
@space-md: 40px;
@space-sm: 30px;

@opacity-low: 0.05;


// --- MIXINS ---
.font-size(@sizeValue) {
    @remValue: @sizeValue;
    @pxValue: (@sizeValue * 10);
    font-size:~"@{pxValue}px";
    font-size:~"@{remValue}rem";
}

.flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-img() {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


// --- GLOBAL ---
*::selection {
    background: @green-light;
}

html {
    font-size: 62.5%;
    font-display: auto;
    text-rendering: auto;
    zoom: reset;
    touch-action: pan-x pan-y;
}

.Noise {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/noise.gif);
    opacity: @opacity-low;
}


// --- HEADER ---
header {
    &.affix {
        background: @black !important;

        .img-logo img {
            filter: invert(0) !important;
        }
    }

    section {
        .flex-center();
        justify-content: space-between;
    }

    #navigation li a {
        color: @white;
    }

    #navigation li:hover a {
        text-decoration: none;
        color: @gray-mid;
    }

    a.h-link.filter-nav-anchor:hover,
    .filter-nav-anchor:hover,
    .filter-nav-anchor:focus {
        color: @white !important;
    }
}


// --- FOOTER ---
footer {
    background: @green-light !important;
    z-index: 10;
    position: relative;
    width: 100%;

    section {
        padding: @space-md 0 !important;
    }

    a.icon {
        color: @black;
    }
}


// --- LOGO ---
.img-logo {
    display: inline-block;
    width: 100%;
    max-width: 120px;

    img {
        .full-img();
    }
}

// --- HOME / GLOBAL SITE ---
#casiopea-wsite {
    p {
        color: @black;

        &.text-white,
        &.txt-white {
            color: @white;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: @black;

        &.text-white,
        &.txt-white {
            color: @white;
        }
    }

    ul li {
        font-size: 0.9em;
        line-height: 1.6em;
        font-family: @font-main;
        color: @black;
    }

    a#back-cta {
        position: relative;
        margin: 0 auto;
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        z-index: 1;
    }

    #back-cta:before {
        content: "\2190";
        margin-right: 4px;
    }

    button {
        position: relative;

        &:hover,
        &:focus,
        &:active {
            box-shadow: none;
            outline: 0;
        }

        &.show-more-i {
            &:after {
                position: absolute;
                font: normal normal normal 14px/1 FontAwesome;
                right: 0;
            }

            &:not(.collapsed)::after {
                content: "\f077";
            }

            &.collapsed::after {
                content: "\f078";
            }
        }
    }

    .casiopea-section {
        &.fluid-section {
            padding: 0;
            max-width: 100%;
        }

        .video-container {
            background: @black;
            height: 100dvh;
            width: 100%;

            .video {
                display: block;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        .img-project-container {
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .other-projects-block {
        display: none;
    }

    iframe+p {
        display: none;
    }

    #our-team {
        figure.profile .social a.icon {
            color: @black;
            background: transparent;
            font-size: 18px;
        }

        .semblance {
            display: block;
            float: left;
            width: 100%;
            text-align: left;
            .font-size(1.4);

            button {
                background: transparent;
                color: @black;
                border: 0;
                border-bottom: 1px solid @black;
                text-align: left;
                padding: 0 0 12px 0;
                margin-top: 30px;
                margin-bottom: 10px;
                text-transform: none;
                border-radius: 0;
                width: 100%;

                &:hover,
                &:focus,
                &:active {
                    box-shadow: none;
                    outline: 0;
                }
            }

            .collapse {
                text-align: left;

                .card-body {
                    text-align: left;
                    .font-size(1.4);

                    p {
                        display: block;
                        text-align: left;
                    }
                }
            }
        }
    }
}


// --- ABOUT US PAGE ---
#main-aboutus-page {
    .casiopea-home-hero {
        .flex-center();
        width: 100%;
        height: 100%;
        max-height: 1080px;
        position: relative;

        .img-hero-intro {
            display: block;
            margin: 0;
            width: 100%;
            height: 100%;

            img {
                .full-img();
            }
        }
    }

    #about-us {
        padding-top: @space-lg;
        padding-bottom: @space-lg;
        min-height: 400px;
        .flex-center();

        h4,
        p {
            color: @white;
        }

        h4 {
            border-bottom: 1px solid @white;
        }

        a {
            color: @green-mid;
            font-weight: 600;
            text-decoration: underline;

            &:hover {
                color: @green-hover;
            }
        }
    }

    .dot-separator {
        position: relative;
        padding: 0;

        .container-fluid {
            height: 0;

            .row.block {
                position: relative;
                padding: 0;
                overflow: unset;

                .dot {
                    width: 70px;
                    height: 70px;
                    border-radius: 100px;
                    background: @cyan;
                    position: absolute;
                    bottom: 0;
                    left: 100px;
                    transform: translateY(50%);
                    animation: cssVisible 2000ms;
                    z-index: 9999;
                }
            }
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (max-width: 767px),
    (max-device-width: 767px) {

        #about-us {
            padding-top: 85px;
            padding-bottom: 85px;
            min-height: unset;

            .container-fluid {
                position: relative;

                .row.block {
                    position: relative;
                }
            }
        }

        .dot-separator .dot {
            left: 16px !important;
        }

        .casiopea-home-hero .img-hero-intro {
            position: relative;
            width: 100%;
        }
    }
}

// --- PROJECTS LIST ---
#casiopea-projects {
    header {
        background-color: transparent;

        #navigation li a {
            color: @black;
        }

        .img-logo img {
            filter: invert(1);
        }
    }

    .jumbotron {
        background: transparent;
    }

    .img-hero-intro {
        width: 100%;
        display: block;
        flex: 0 0 100%;
    }

    #projects-section {
        #filter-trigger {
            background: @green-light;
            color: #333;

            &:hover {
                background: @cyan-hover;
            }
        }

        #filters li button {
            background: @green-light;
            outline: 0;
            -webkit-appearance: none;
            color: @black;

            &:focus,
            &:hover {
                background: @cyan-soft;
            }

            &:active {
                background: @cyan-hover;
            }
        }
    }

    #projects-wrapper {
        display: block;
        clear: both;
        opacity: 0;
        animation: cssVisible 3000ms forwards;

        .inner .caption {
            background-color: @purple;
        }

        .deleted-project {
            display: none;
            visibility: hidden;
            width: 0;
            height: 0;
            z-index: -100;
        }
    }
}


// --- PROJECT PAGE BASE ---
#casiopea-project {
    .jumbotron.casiopea-section {
        overflow: hidden;

        &:after {
            content: "";
            width: 100%;
            min-height: 100%;
            background: @black;
            opacity: 0.3;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    h1.intro-project-title {
        visibility: hidden;
        display: none;
    }

    &.white-menu {
        #navigation li a {
            color: @gray-soft;
        }
    }

    .casiopea-project-hero-intro {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .video-container {
            display: block;
            height: 100%;
            width: auto;
            min-width: 100vw;

            video {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .img-hero-intro img {
            .full-img();
        }
    }

    .intro-project-title {
        opacity: 0.5;
    }

    #info-project-txt {
        font-size: 0.9em;
        line-height: 1.6em;
        font-family: @font-main;

        dl {
            font-size: 0.95em;
            color: @black;

            dt {
                display: inline-block;
                font-weight: normal;
            }

            dd {
                display: inline-block;
            }
        }
    }

    #project-work-demos {
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;

            &.flex-row-reverse,
            &.row-reverse {
                flex-direction: row-reverse;
            }

            &.align-content-center,
            &.align-items-center,
            &.justify-content-center {
                align-items: center !important;
                justify-content: center !important;
            }

            &.float-right {
                justify-content: flex-end !important;
            }

            &.float-left {
                justify-content: flex-start !important;
            }

            &.flex-column {
                flex-direction: column;
            }

            >div.col-xs-12 {
                margin: 24px 0;
            }
        }

        .lottie-object {
            display: block;
        }

        .img-project-container img {
            .full-img();
            margin: 0 auto;
        }

        .video-container {
            width: 100%;
            display: flex;
            margin: 0 auto;
            overflow: hidden;

            video {
                width: 100%;
                margin: 0;
            }
        }
    }

    .other-projects-block {
        visibility: hidden;
        display: none;

        .other-projects-info .item {
            opacity: 1 !important;
        }
    }
}

// --- PROJECTS: DOS CAMALEONES ---
#casiopea-project {
    .dos-camaleones-project {

        .other-projects-block,
        #back-cta {
            background: @gray-light;
        }

        header #navigation li a {
            color: @white;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @gray-light !important;
        }
    }


    // --- PROJECTS: FONIMA ---
    .fonima-project {

        .other-projects-block,
        #back-cta {
            background: @black;
            color: @white;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @black !important;

            .social a,
            .copy p {
                color: @gray-soft !important;
            }
        }

        .link-to a {
            color: @black;

            &:hover {
                color: @pink;
            }
        }
    }


    // --- PROJECTS: BIRDSONG ---
    .birdsong-project {

        .other-projects-block,
        #back-cta {
            background: @gray-light;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @white !important;
        }
    }


    // --- PROJECTS: SOBRE AMOR ---
    .sobre-amor-project {

        .other-projects-block,
        #back-cta {
            background: @pink;
            color: @white;

            .title-block h3 {
                color: @white;
            }
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @pink !important;

            .social a,
            .copy p {
                color: @gray-soft !important;
            }
        }
    }


    // --- PROJECTS: SMMX ---
    .smmx-project {

        .other-projects-block,
        #back-cta {
            background: @gray-dark;
            color: @white;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @gray-dark !important;

            .social a,
            .copy p {
                color: @gray-soft !important;
            }
        }
    }


    // --- PROJECTS: CENTAVRVS ---
    .centavrvs-project {
        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        #cta-video {
            color: @gray-soft;

            &:hover {
                color: @green-hover;
            }
        }

        .other-projects-block,
        #back-cta {
            background: @black;
            color: @gray-soft;
        }

        footer {
            background: @black !important;

            .social a,
            .copy p {
                color: @gray-soft !important;
            }
        }
    }


    // --- PROJECTS: CONOCES TOMÁS ---
    .conoces-tomas-project {
        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        .other-projects-block,
        #back-cta {
            background: @cyan;
            color: @black;
        }

        footer {
            background: @cyan !important;
        }
    }


    // --- PROJECTS: VISUALES ---
    .visuales-project {
        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        .other-projects-block,
        #back-cta {
            background: @green-hover;
            color: @black;
        }

        footer {
            background: @green-hover !important;
        }
    }


    // --- PROJECTS: POLIANGULAR ---
    .poliangular-project {

        .other-projects-block,
        #back-cta {
            background: @cream;
            color: @black;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @cream !important;
        }

        .link-to a {
            color: @black;

            &:hover {
                color: @pink;
            }
        }
    }


    // --- PROJECTS: ANIMASIVO ---
    .animasivo-project {

        .other-projects-block,
        #back-cta {
            background: #121212;
            color: @gray-soft;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: #121212 !important;

            .social a,
            .copy p {
                color: @gray-soft !important;
            }
        }
    }


    // --- PROJECTS: LA VEJEZ ---
    .la-vejez-project {

        .other-projects-block,
        #back-cta {
            background: @gray-light;
            color: @black;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @gray-light !important;
        }
    }


    // --- PROJECTS: RUIDO Y FURIA ---
    .ruido-furia-project {

        .other-projects-block,
        #back-cta {
            background: #030817 !important;
            color: @gray-soft;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: #030817 !important;

            .social a,
            .copy p {
                color: @gray-soft !important;
            }
        }
    }


    // --- PROJECTS: ADENTRO / AFUERA ---
    .adentro-afuera-project {

        .other-projects-block,
        #back-cta {
            background: @cyan;
            color: @black;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @cyan !important;
            color: @gray-soft;
        }
    }


        // --- PROJECTS: THE-RIVER KON  ---
        .trkon-project {
    
            .other-projects-block,
            #back-cta {
                background: @cyan;
                color: @black;
            }
    
            header #navigation li a {
                color: @gray-soft;
            }
    
            header #navigation li:hover a {
                color: @gray-mid;
            }
    
            footer {
                background: @cyan !important;
                color: @gray-soft;
            }
        }


    // --- PROJECTS: LA CATRINA ---
    .la-catrina-project {

        .other-projects-block,
        #back-cta {
            background: #151915;
            color: @gray-soft;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: #151915 !important;

            .social a,
            .copy p {
                color: @gray-soft !important;
            }
        }
    }


    // --- PROJECTS: EN UN SER VIVO ---
    .en-un-ser-vivo-project {

        .other-projects-block,
        #back-cta {
            background: @aqua;
            color: @black;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @aqua !important;
        }
    }


    // --- PROJECTS: VIDEO EXPLICATIVO ---
    .video-explicativo-project {

        .other-projects-block,
        #back-cta {
            background: @purple-dark;
            color: @black;
        }

        #project-work-demos h2 {
            font-size: 18px;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @purple-dark !important;
        }
    }


    // --- PROJECTS: AMBULANTE ---
    .ambulante-project {

        .other-projects-block,
        #back-cta {
            background: @cyan;
            color: @black;
        }

        #project-work-demos h2 {
            font-size: 30px;
            font-family: @font-main;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @cyan !important;
        }
    }


    // --- PROJECTS: SONG OF THE LAST LACANDON ---
    .song-of-the-last-lacandon {

        .other-projects-block,
        #back-cta {
            background: @gray-dark;
            color: @gray-soft;
        }

        #project-work-demos h2 {
            font-size: 30px;
            font-family: @font-main;
        }

        video {
            background-color: @gray-dark;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @gray-dark !important;

            .social a,
            .copy p {
                color: @gray-soft !important;
            }
        }
    }


    // --- PROJECTS: CUTOUT ---
    .cutout-project {

        .other-projects-block,
        #back-cta {
            background: @purple;
            color: @black;
        }

        #project-work-demos {
            h2 {
                font-size: 18px;
            }

            .row {
                margin-bottom: 0;
            }
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @purple !important;
        }
    }


    // --- PROJECTS: PULSO ---
    .pulso-project {

        .other-projects-block,
        #back-cta {
            background: @red-cherry;
            color: @black;
        }

        footer {
            background: @red-cherry !important;
        }
    }


    // --- PROJECTS: NO DEVOLUCIONES ---
    .no-devoluciones-project {

        .other-projects-block,
        #back-cta {
            background: @red-strong;
            color: @black;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @red-strong !important;
            color: @gray-soft;
        }
    }


    // --- PROJECTS: KIDOO ---
    .kidoo {

        .other-projects-block,
        #back-cta {
            background: @green-hover;
            color: @black;
        }

        #project-work-demos h2 {
            font-size: 30px;
            font-family: @font-main;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @green-hover !important;
        }
    }


    // --- PROJECTS: TALLERES ---
    .talleres-project {

        .other-projects-block,
        #back-cta {
            background: @cyan;
            color: @black;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @cyan !important;
            color: @gray-soft;
        }
    }


    // --- PROJECTS: ABUELITAS KITCHEN ---

    .abuelitas-kitchen {

        .other-projects-block,
        #back-cta {
            background: @purple;
            color: @black;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @purple !important;

            .social a,
            .copy p {
                color: @black !important;
            }
        }
    }


    // --- PROJECTS: HISE ---

    .hise-project {

        .other-projects-block,
        #back-cta {
            background: @red-cherry;
            color: @black;
        }

        header #navigation li a {
            color: @gray-soft;
        }

        header #navigation li:hover a {
            color: @gray-mid;
        }

        footer {
            background: @red-cherry !important;

            .social a,
            .copy p {
                color: @black !important;
            }
        }
    }


}

// --- CONTACT PAGE ---
#contact-page {
    background: @purple !important;

    header {
        #navigation li a {
            color: @black;
        }

        #navigation li:hover a {
            color: @black;
        }

        .img-logo img {
            filter: invert(1);
        }
    }

    section.contact {
        margin: 0;
        width: 100%;
        max-width: 100%;
        display: block;
    }

    section.jumbotron section {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .btn.btn-default {
        background: @black;

        &:hover,
        &:focus {
            background: #333;
        }
    }

    .link-to a {
        color: @black;

        &:hover {
            color: @green-hover;
        }
    }

    footer {
        background: @purple !important;
    }
}


// --- FAQ PAGE ---
#casiopea-faq {
    background: @red;

    .jumbotron {
        background: @red;
    }

    #grid-faq {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        background: @red;

        .faq-item {
            display: inline-flex;
            margin-bottom: 30px;
        }

        .faq-question {
            width: 80%;
            margin: 0 auto;

            a {
                color: @black !important;

                &:hover,
                &:focus {
                    color: @green-hover !important;
                }
            }
        }

        .thumbnail-faq img {
            .full-img();
        }
    }

    footer {
        background: @red !important;
    }
}


// --- MEDIA QUERIES ---

// Large screens
@media only screen and (min-width: 1175px) {}

// Tablet + phone
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .casiopea-home-hero {
        height: 100vh;
    }

    header section {
        .flex-center();
        justify-content: space-between;
        max-width: 95vw;
        padding: 0;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }
}

// Mobile
@media only screen and (max-device-width: 767px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (max-width: 767px) {

    header #navigation.active li {
        background: @black;
        text-align: left;
    }

    ul#filter-nav {
        display: none;
    }

    header #navigation li a {
        padding: 10px;
        display: block;
        width: 100%;
    }

    #casiopea-project .adentro-afuera-project header #navigation li a {
        color: @gray-soft;
        display: block;
        width: 100%;
    }

    #casiopea-project .jumbotron.casiopea-section {
        height: auto;
    }

    #casiopea-project .jumbotron.casiopea-section::after {
        height: 100%;
    }

    #casiopea-project .casiopea-project-hero-intro {
        height: auto;
    }

    #casiopea-projects header #navigation li a {
        color: @white;
    }

    #about-us-hero-top {
        display: block;
        overflow-x: hidden;
        background-size: cover;
        max-height: 50vh;
    }

    #home-hero-video {
        height: 100vh;
        width: 100vw;
    }

    #our-team .profile-team-item {
        margin-bottom: 30px;
    }

    #contact-page header #navigation li a {
        color: @white;
    }

    .float-right {
        justify-content: center !important;
    }

    .float-left {
        justify-content: center !important;
    }

    iframe {
        height: auto;
    }

    .col-md-12 {
        width: 100%;
    }

    section .block {
        overflow-x: hidden;
    }
}


// --- ANIMACIONES ---
@keyframes cssVisible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}